.section__header {
    color: #0d0d89;
}

.section__girl {
    color: #f47489;
}

.section__boy {
    color: #1876e8;
}

.hidden {
    display: none;
}

.section__photo {
    border-radius: 20%;
    margin: 5px;
    box-shadow: 5px 6px 5px 0px #484448;
    ;
}

.section__link--style {
    text-decoration: none;
    font-weight: bold;
    color: #1313d3;
}
